<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
<head>
  <meta content="text/html;charset=utf-8" http-equiv="content-type" />
  <meta name="description" content="" />
  <meta name="keywords" content="fayimora, programming, blog" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "navigation" %>
  <%= stylesheet_link_tag "responsive" %>
  <%= stylesheet_link_tag "styles/fonts" %>
  <%= stylesheet_link_tag "styles/colors" %>
  <%= stylesheet_link_tag "styles/syntax" %>
  <%= stylesheet_link_tag "styles/jquery.prettyPhoto" %>

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <%= stylesheet_link_tag "styles/ie" %>
    <%= stylesheet_link_tag "styles/ieCss3" %>
  <![endif]-->
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
  </script>

  <%#TODO Make this a bit more dynamic  %>
  <title>Fayimora Femi-Balogun</title>
</head>
<body>
<!-- __________________________________________________ Start Page -->
<section id="page">
  <div class="container">
    <%= partial "header" %>

    <section id="middle">
      <div class="headline">
        <div class="headline_inner">
          <blockquote>To understand what recursion is, you must first understand recursion.</blockquote>
          <!-- <h4><em>To understand what recursion is, you must first understand recursion.</em></h4> -->
        </div>
      </div>

      <%= yield %>

    </section>

  </div>
</section>
<!-- __________________________________________________ Finish Page -->

<%= partial "footer" %>

  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag :all %>
</body>
</html>
