<% wrap_layout :layout do %>

<div class="content_wrap">
  <section id="middle_content">
    <div class="entry">
      <section class="blog opened-article">
        <article class="post">
          <div class="entry-meta">
            <abbr class="published">published at <%= current_article.date.strftime('%b %d %Y') %></abbr>
            <span class="user_name">by <a href="#"><%= current_article.data.author %></a></span>
          </div>

          <header class="entry-header">
            <h1 class="entry-title"><%= current_article.title %></h1>
            <div class="cmsms_media">
              <!-- <figure> -->
              <!--   <a href="openpost.html" class="preloader"> -->
              <!--     <img class="fullwidth" src="images/img/blog_1.jpg" alt="" /> -->
              <!--   </a> -->
              <!-- </figure> -->
            </div>
            <div class="entry-content">
              <%= yield %>
            </div>
          </header>
        </article>

        <aside class="share_posts">
          <h3>Like this post?</h3>
          <div class="cl"></div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en"
            data-related="FaYiMoRa" data-text="<%= current_article.title %>" data-via="FaYiMoRa">
          Tweet </a>
          <div class="g-plusone"></div>
          <div class="fb-like" data-layout="standard" data-send="true" data-width="450" data-action="like" data-show-faces="true" data-share="true"></div>
          <div class="cmsms_social cl"></div>
        </aside>

        <div class="divider"></div>

        <section class="comments">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'fayimora';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>

      </section>
    </div>
  </section>
  <!-- __________________________________________________ Finish Content -->
</div>

<% end %>
