<div class="content_wrap">
  <section id="content">
    <div class="entry-summary">
      <section class="blog">
      <% blog.articles.each_with_index do |article, i| %>
        <article class="post">
          <div class="entry-meta">
            <ul class="cmsms_category">
              <% article.data.tags.to_s.split(", ").each do |tag| %>
                <li><%= link_to tag, "#" %></li>
              <% end %>
            </ul>
            <abbr class="published"><%= article.date.strftime('%b %e %Y') %></abbr>
            <span class="user_name">by <a href="#"><%= article.data.author %></a></span>
          </div>

          <header class="entry-header">
            <h1 class="entry-title"><%= link_to article.data.title, article.url %></h1>
            <div class="entry-content"><%= article.summary %></div>
            <a href="<%= article.url %>" class="button"><span>Read More</span></a>
          </header>
        </article>
      <% end %>
      </section>
    </div>
  </section>

  <section id="sidebar">
    <div class="one_first">
      <aside class="widget widget_text">
        <h3 class="widgettitle">About this blog</h3>
        <p>So I guess you are wondering what exactly it is this ingenious soul is blogging here.
        Well, I'll be writing about Computer Science related topics. Possible topics
        include programming tips/tutorials, how-tos and so on. If you are here for that sort of
        content then I guess you know what to expect.</p>

        <p>For the less techy folks, I will be writing a few reviews and thoughts on certain
        technologies. Of course I'll throw in the occasional controversial views once in a while.
        That should be real fun!</p>

        <p>By the way, I am happy to recieve suggestions. I'll gladly cook up
        something nice if I can. Just tweet at me or send me an email. Of course, <strong>constructive</strong>
        critism is very welcome too!</p>

        <!-- <a href="#" class="button"><span>Read More</span></a> -->
      </aside>
    </div>
  </section>
</div>
